.table-novpadding tbody tr>td {
    padding-top: 2px;
    padding-bottom: 2px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

[v-cloak] { display: none; }

.smallDate { color: #999; font-size: 12px; }

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}